
.classpath

.project

.settings/.jsdtscope

*.prefs

*.component

*.container

*.name

*.class

*.properties

*.lst

*.war

*.jar

target/XStreamDemoProject-0.0.1-SNAPSHOT/WEB-INF/web.xml

.settings/org.eclipse.wst.common.project.facet.core.xml
